
  
<div id="page-main" align="center">

    <% if user_signed_in? %>
    	<%= current_user.email %>
        <% end %>
        <h5 class="h5-main"><a href="/hoegi105/admin">관리자페이지(수정예정)</a></h5><!--관리자 페이지-->
        <h5>
            <form id = "selectform" action="/hoegi105/mainpage" method="post">
            <select class="lec-selector" name="major">
                <option value="관광학과">관광</option>
                <option value="문화관광콘텐츠학과">문콘</option>
                <option value="호텔경영학과">호경</option>
                <option value="컨벤션경영학과">컨경</option>
                <option value="외식경영학과">외경</option>
                <option value="조리서비스경영학과">조경</option>
            </select>
            <input type="submit" value="검색">
            </form>
        </h5>
    <!-- 강의 목록 -->
    <% @lecture.each do |hot| %>
        <div id="upper-panel">
            <div id="cla-panel" class="panel panel-default" align ="left">
                <a href='/hoegi105/classreview/<%= hot.id %>'>
                <div> 
                    <div class="panel-title"><h4 class="text-title"><%= hot.lecture_title %></h4></div>
                    <div class="panel-professor"><h4 class="text-professor"><%= hot.professor_name %></h4></div>
                </div>
                <div>                    
                    <div class="panel-rates">
                        <!--평점의 평균-->
                        <input id="com-star-main" class="rating form-control hide"  data-size="sm" data-show-clear="false" data-show-caption="true" data-min="0" data-max="5" data-step="0.5" data-readonly="true" value="
                        <% totalStar = 0 %>
                        <% review = Review.where('classofhot_id = ?',hot.id) %>
                        <% review.each do |r| %>
                            <% totalStar += r.eval_star %>
                        <% end %>
                        <% if review.count != 0 %>
                            <%= totalStar/review.count %>
                        <% else %>
                            0
                        <% end %>
                        ">
                        <%= hot.reviews.count %>명이 평가에 참여하였습니다.
                            <!--표시하지 않음<h4 class="text-rates"><%= hot.typeof_lecture %></h4>-->
                        </div>
                    <div class="panel-comments">
                        <button id="comment_icon_button" class="btn btn-msg btn-default" type="button"><h4 class="text-comments">
                            <span id="comment_icon" class="glyphicon glyphicon-comment" align="center">&nbsp;</span><%= hot.reviews.where.not(review_content: nil).count %></h4> <!--리뷰(댓글) 갯수-->
                        </button>
                    </div>
                </div>
                </a>
            </div>
        </div>
    <% end %>
    
</div>