<script> 
$(document).ready(function(){
    $(".show-more-coms").click(function(){
       // $(this).closest('.upperrow').children('.row-com2').slideToggle("fast"); // 수동으로 대댓글 열기
        if($(this).closest('.upperrow').children('.row-com2').is(':visible')){
            $(this).closest('.upperrow').children('.row-com2').slideUp("fast");
        }
        else{
        $('.row-com2').slideUp("fast");
        $(this).closest('.upperrow').children('.row-com2').slideToggle("fast");
            
        }
        //다른 글의 대댓글을 열면 나머지는 다 닫기

    });
});
</script>
<div class="page-ex2" align="center"></div>
<div class="page-ex" align="center">
    <div id="panel-ex" class="panel panel-default">
        <a id="home-ex" href="/hoegi105/mainpage">HOME</a>
        <h1 id="title-ex"><%= @lecture.lecture_title %></h1>
        <!--현재접속계정 : <%= @useremail %><br>-->
        <h4 class="text-ex"><%= @lecture.lecture_major %></h4>
        <h4 class="text-ex"><%= @lecture.typeof_lecture %></h4>
        <h4 class="text-ex"><%= @lecture.professor_name%></h4>
                   <input id="input-star" class="rating form-control rating-loading" data-show-clear="false" data-show-caption="true" data-min="0" data-max="5" data-step="0.5">
            </div>

        <!--댓글창-->
        <p>
    <div id="com-panel" class="com-text" align="center">
            <hr />
            <div>
            <form action="/hoegi105/review_process/<%= @lecture.id %>" method="post"> <!-- form태그에 입력된 값을 method(post)의 형식으로 action(..)으로 보낸다. -->
                <input id="com-com-com" class="form-control" type="textarea" name="reviewcontent" placeholder="리뷰는 한번만 작성 가능합니다."></input>
                <input id="com-submit" class="btn btn-default" type="submit" value="등록">
            </form>
            </div>
                <% @lecture.reviews.each do |revw| %>
                    <div class="upperrow">
                    <div class="row row-com" align="center">
                        <div id="for-profile-image" class="col-xs-1">
                            <div class="profile-image"></div>
                        </div>
                        <div id="com-others" class="col-xs-10" align="center">
                        <div class="row row-com-inner-1">
                            <div class="col-xs-4" id="com-panel2" align="left">
                                <p class="com-writer">작성자</p><!--<%= revw.review_writer %>-->
                            </div>
                            <div class="col-xs-4" id="com-panel3" align="left">
                                <input id="com-star" class="rating form-control hide"  data-size="xs" data-show-clear="false" data-show-caption="true" data-min="0" data-max="5" data-step="0.5"><!--작성자가 매긴 별점-->
                            </div>
                            <div class="col-xs-4" id="com-panel-like" align ="right">
                                 <div class="btn-group-vertical" role="group" aria-label="..." align="right">
                                     <button type="button" id="com-box" class="btn btn-default">
                                    <a href='/hoegi105/like/<%= revw.id %>'><span id="thumbs-up-icon" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><%= revw._like %></a> 
                                    &nbsp; &nbsp;<a href='/hoegi105/like/<%= revw.id %>'><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <%= revw._like %></a>
                                       </button>
                                </div>
                            
                            </div>
                        </div>
                        <div class="row row-com-inner" align="left">
                        <p class="com-context"><%= revw.review_content %></p>
                        </div>
                        <div class="row row-com-inner" align="left">
                            <p class="com-more"> &nbsp; &nbsp;답글달기&nbsp; &nbsp;<a class="show-more-coms">답글보기</a><button type="button" class="com-more"  class="btn btn-default"><a href='/hoegi105/review_delete/<%= revw.id %>'>삭제</a></button></p>
                        </div>
                        </div>
                        
                           
                            <!--<button type="button" id="com-box"  class="btn btn-default"><a href='/hoegi105/review_delete/<%= revw.id %>'>삭제</a></button>-->
                        
                        
                        </div>
                        <!--대댓글 창-->

                        <div class="row-com2" align="center"></div>
                    </div>
                    
                    
                <% end %>
        </p>
        <!--댓글작성-->
        <p>
        <!--아래쪽 고정 내비게이션 <nav id="com-bot" class="navbar navbar-default navbar-fixed-bottom" align="center">-->

        </p>
        </div>
        <!--관리자의 수정삭제기능-->
        <p>
        <a class="com-text" href="/hoegi105/admin_update/<%= @lecture.id %>">관리자 수정</a><br>
        <a class="com-text" href="/hoegi105/admin_delete/<%= @lecture.id %>">관리자 삭제</a>
        </p>
    </div>
</div>