<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
<!--<script> 
// $(document).ready(function(){
//     $(".show-more-coms").click(function(){
//       //$(this).closest('.upperrow').children('.row-com2').slideToggle("fast"); // 수동으로 대댓글 열기
        
//         if($(this).closest('.upperrow').children('.row-com2').is(':visible')){
//             $(this).closest('.upperrow').children('.row-com2').slideUp("fast");
//         }
//         else{
//         $('.row-com2').slideUp("fast");
//         $(this).closest('.upperrow').children('.row-com2').slideToggle("fast");
            
//         }
//         //다른 글의 대댓글을 열면 나머지는 다 닫기
//     });
// });
// </script>-->

<!-- 리뷰출력 -->
<% unless @lecture.count == 0 %>
    <% @lecture.each do |revw| %>

    <div class="upperrow">
            
    <a href="/hoegi105/classreview/<%= revw.classofhot_id %>">
    <div class="row row-com" align="center">
        
        <div id="myRevTitle" align="center">
        <%= Classofhot.find(revw.classofhot_id).lecture_title %>
        </div>
        <div id="for-profile-image" class="col-xs-1">
            <div class="profile-image"><img class="profile-image"src="/assets/<%= revw.picture %>.png"></div>
            <p class="com-date"><br>
            </p>
        </div>
        <div id="com-others" class="col-xs-10" align="center">
                <div class="row row-com-inner-1">
                    <div class="col-xs-5" id="com-panel2" align="left">
                        
                        <p class="com-writer">
                            <!--글쓴이의 익명 닉네임-->
                            <%= revw.picture %>
                            <!--강의명-->
                            <!--<%= Classofhot.find(revw.classofhot_id).lecture_title %>-->
                        </p>
                    </div>
                    <div class="col-xs-3" id="com-panel3" align="left">
                        <!--작성자가 매긴 별점-->
                        <input id="com-star" class="rating form-control hide"  data-size="xs" data-show-clear="false" data-show-caption="true" data-min="0" data-max="5" data-step="0.5" data-readonly="true" value="<%= revw.eval_star %>">
                    </div>
                    <div class="col-xs-4" id="com-panel-like" align ="right">
                         <div class="btn-group-vertical" role="group" aria-label="..." align="right">
                            <label id="com-box" class="btn btn-default">
                                <span id="thumbs-up-icon" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= revw._like.to_i %>&nbsp; &nbsp;
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <%= revw._dislike.to_i %>
                            </label>   
                        </div>
                    </div>
                </div>
            <div class="row row-com-inner" align="left">
                <%= simple_format(revw.review_content, :class => "com-context") %>
                <!--태그색상--> 
                  <% if revw.eval_grade == 3 %> 
                    <span class="label-tag label-danger">학점느님</span>
                  <% elsif revw.eval_grade == 2 %> 
                    <span class="label-tag label-danger">B0마왕</span>
                  <% else %> 
                    <span class="label-tag label-danger">F폭격기</span>
                  <% end %>
                </span> &nbsp;
                <span class="label-tag label-g2">
                  <% if revw.eval_easy == 3 %> 꿀강
                  <% elsif revw.eval_easy == 2 %> 버틸만함
                  <% else %> 개피곤
                  <% end %>
                </span> &nbsp;
                <span class="label-tag label-warning">
                  <% if revw.eval_academic == 3 %> 인생강의
                  <% elsif revw.eval_academic == 2 %> 평타강의
                  <% else %> 쓰레기수업
                  <% end %>
                </span>
            </div>
            <div class="row row-com-inner" align="left">
                <p class="com-more">
                     <% if ((Time.now - revw.created_at)/60)<1 %>
                        방금
                      <% elsif ((Time.now - revw.created_at)/3600)<=1 %>
                       <%=((Time.now - revw.created_at)/60).round %> 분 전
                       <% elsif ((Time.now - revw.created_at)/3600)<=24 %>
                        <%= ((Time.now - revw.created_at)/3600).round %> 시간 전
                      <%elsif ((Time.now - revw.created_at)/3600/24).round == 1%>
                        하루 전
                       <% elsif ((Time.now - revw.created_at)/3600)<=24*7 %>
                         <%= ((Time.now - revw.created_at)/3600/24).round %> 일 전
                       <% else %>
                        <%= revw.created_at.strftime("%-m월 %-e일") %>
                       <% end %>
                    <!--<a href="/hoegi105/reply/<%= revw.id %>" class="show-more-coms">답글보기</a>(<%= revw.replies.count %>)-->
                <% if revw.review_writer === current_user.email %>
                    <!--<a href="/hoegi105/review_delete/<%= revw.id %>">삭제</a>-->
                <% end %>
                </p>
            </div>
        </div>
    </div>
    </a>
    <% end %>
    </div>
<% else %>
평가한 강의가 아직 하나도 없어요!
<% end %>