<!--모바일 시작-->
	<div class = "bg"></div>
		<div id="logo-section">
			<span id="title">꿀강</span><br>
			<span id="sub-title">경희대학교 강의평가시스템</span>
			<div id="logo"><img id="logo" src="/assets/logo.png"></div>
			<span style="display: block; font-weight: bold">
				<span class="count" style="font-size:5vw"><%= User.all.count %></span> 명이 
				<span class="count" style="font-size:5vw"><%= Review.all.count %></span> 개의 강의평가를 하였습니다
			</span>
		</div>
		<div class="loginform" align="center">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="input-group input-group-lg field">
				<span></span>
				<!--ID input-->
				<br />
	    		<%= f.email_field :email, autofocus: true, type: "text", id: "form-identification", class: "form-control", placeholder: "아이디(이메일)"%>
			</div>
			<div class="input-group input-group-lg field">
				<!--비번 input-->
	    		<%= f.password_field :password, autocomplete: "off", type: "password", id: "form-password", class: "form-control", placeholder: "패스워드" %>
	    	</div>
	    	<% if devise_mapping.rememberable? -%>
			    <div id="new" class="field">
			      <%= f.check_box :remember_me %>
			      <%= f.label :"로그인 유지", class: "textlink" %>
			    </div>
  				<% end %>
		
			
			<!--로그인버튼 input-->
			<div class="actions">
				<%= f.submit "Log in", id: "button1", ontouchstart:"", class: "btn btn-lg btn-default", value: "로그인" %>
			</div>
			<%= render "devise/shared/links" %>
		<% end %>
		</div>
<!--모바일 끝-->
